<link rel="stylesheet" href="analyzer-calibrations.css">

<template id='analyzer-calibrations'>

	<div class='section-wrapper'>
		<div class='col-md-12 pan' id='Calibrations-Calibrations'>
			<h2>Calibrations</h2>
			<div id='Calibrations'>

				<div id="CalibrationsContainerDiv">

					      <div class='col-md-12'>
					        <div id='drop-area'>
					            <form class="my-form">
					              <p>Upload a Cal file by dragging and dropping the file onto the dashed region or click the button</p>
					              <input type="file" id="fileElem" accept="Cal/*" onchange="handleDropFiles(this.files)">
					              <label class="btn btn-info" for="fileElem">Upload Cal file</label>
					            </form>
					        </div>
									<div id='submitDivCal' class='col-md-6'></div><div id='submitDivCalReport' class='col-md-6'></div>
					      </div>

					          <div class='col-md-12'>
					            <div id='calFileContentsTitleDiv' class='col-md-12'></div>
						            <div id='calFileContentsDiv' class='col-md-6'></div>
					          </div>
				</div>
			</div>
		</div>
	</div>


</template>

<script>
    function setupAnalyzerCalibrations(wrapperID){
        document.getElementById(wrapperID).innerHTML = "";
        document.getElementById(wrapperID).innerHTML = Mustache.to_html(dataStore.templates['analyzer-calibrations'], {});

				// Create Submit button for Calibration coefficients
				newButton = document.createElement('button');
				newButton.setAttribute('id', 'submitCalibrationsButton');
				newButton.setAttribute('class', 'btn btn-default btn-lg hidden');
				newButton.innerHTML = "Write calibration to Analyzer";
				newButton.style.padding = '4px';
				newButton.onclick = function(){
				sendCalibrationsToAnalyzer();
				}.bind(newButton);
				document.getElementById('submitDivCal').appendChild(newButton);

    // set up event listeners
    listener(wrapperID, 'requestCalibrationsRefresh', setupCalibrationsContent);

    // Set up the content of this sub page
    setupCalibrationsContent();

    }
</script>
